.header {
    z-index: 10000;
    position: absolute;
    width: 90%;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .header_top_row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 25px 0;
        .header_top_row_logo {
            width: 50%;
            display: flex;
            align-items: center;
            h3 {
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 38px;
                color: #000000;
            }
        }
        .header_top_row_contacts {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .top_row_contacts_inp {
                display: flex;
                border-bottom: solid 1px #000000;
                padding: 10px 10px 0 10px;
                border-radius: 3px;
                input {
                    border: none;
                    outline: none;
                    background: none;
                    padding: 0 0 10px 5px;
                    cursor: pointer;
                }
                transition: 0.3s;
            }
            .top_row_contacts_inp:hover {
                background-color: #ff1a1a1a;
            }
            .top_row_contacts_mail {
                display: flex;
                transition: 0.1s;
                h3 {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 21px;
                    text-align: center;
                    color: #000000;
                    cursor: pointer;
                }
                a {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21px;
                    color: #000000;
                    padding: 0 0 0 5px;
                }
            }
            .top_row_contacts_mail:hover {
                transform: scale(1.05);
                h3 {
                    color: #ff3f3f;
                }
                a {
                    color: #ff3f3f;
                }
            }

            .top_row_contacts_number {
                display: flex;
                align-items: center;
                transition: 0.1s;
                a {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21px;
                    color: #000000;
                    padding: 0 0 0 5px;
                }
                img {
                    cursor: pointer;
                }
            }
            .top_row_contacts_number:hover {
                transform: scale(1.05);
                a {
                    color: #ff3f3f;
                }
            }
            button {
                display: none;
                position: relative;
                .header_burger_line {
                    background-color: #000000;
                    width: 27px;
                    height: 2px;
                    border-radius: 1px;
                    position: relative;

                }

                .header_burger_line::before,
                .header_burger_line::after {
                    content: "";
                    position: absolute;
                    width: 27px;
                    left: 0;
                    height: 100%;
                    background-color: #000000;
                }

                .header_burger_line::before {
                    top: -7px;
                    transition: .3s;
                }

                .header_burger_line::after {
                    bottom: -7px;
                    transition: .3s;
                }
                .burger_line_rotate {
                    transition: .1s;
                    background-color: #ffffff00;
                }
                .burger_line_rotate::before {
                    transform: rotate(45deg);
                    top: 0;
                    transition: .3s;
                    background-color: #ff3f3f;
                }
                .burger_line_rotate::after {
                    transform: rotate(-45deg);
                    bottom: 0;
                    transition: .3s;
                    background-color: #ff3f3f;
                }
            }
        }
    }
    .header_bottom_row {
        width: 100%;
        box-shadow: 0px -10px 20px rgba(0, 54, 110, 0.057595);
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        background: #ffffff;
        .header_bottom_row_links {
            width: 50%;
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
            a {
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 25px;
                color: #000000;
                transition: 0.1s;
            }
            a:hover {
                color: #ff3f3f;
                transform: scale(1.04);
            }
        }
        .header_bottom_row_btn {
            width: 21%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h3 {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
                color: #000000;
                cursor: pointer;
                transition: 0.1s;
            }
            h3:hover {
                transform: scale(1.04);
                color: #ff3f3f;
            }
            button {
                height: 80%;
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
                text-align: center;
                color: #ffffff;
                background: #ff3f3f;
                border-radius: 8px;
                padding: 15px 40px;
                transition: 0.3s;
                display: flex;
                align-items: center;
                img {
                    margin-left: 5px;
                }
            }
            button:hover {
                background: #d13333e1;
                transition: 0.3s;
            }
        }
    }
}

@media (max-width: 2000px) {
    .header {
        width: 61%;
    }
}

@media (max-width: 1950px) {
    .header {
        width: 63%;
    }
}

@media (max-width: 1900px) {
    .header {
        width: 65%;
    }
}

@media (max-width: 1850px) {
    .header {
        width: 67%;
    }
}

@media (max-width: 1800px) {
    .header {
        width: 70%;
    }
}
@media (max-width: 1750px) {
    .header {
        width: 73%;
    }
}
@media (max-width: 1650px) {
    .header {
        width: 78%;
    }
}
@media (max-width: 1550px) {
    .header {
        width: 80%;
    }
}
@media (max-width: 1450px) {
    .header {
        width: 83%;
    }
}
@media (max-width: 1350px) {
    .header {
        width: 88%;
    }
}
@media (max-width: 1300px) {
    .header {
        width: 91%;
    }
}
@media (max-width: 1240px) {
    .header {
        width: 96%;
    }
}
@media (max-width: 1190px) {
    .header {
        width: 99%;
    }
}
@media (max-width: 1105px) {
    .header {
        .header_top_row {
            .header_top_row_logo {
                width: 45%;
            }
            .header_top_row_contacts {
                width: 55%;
            }
        }
        .header_bottom_row {
            .header_bottom_row_btn {
                width: 26%;
            }
        }
    }
}
@media (max-width: 945px) {
    .header {
        .header_top_row {
            .header_top_row_logo {
                width: 35%;
                h3 {
                    font-size: 28px;
                }
            }
            .header_top_row_contacts {
                width: 65%;
                .top_row_contacts_mail {
                    a {
                        font-size: 17px;
                    }
                }
                .top_row_contacts_number {
                    a {
                        font-size: 17px;
                    }
                }
            }
        }
        .header_bottom_row {
            .header_bottom_row_links {
                width: 60%;
                a {
                    font-size: 18px;
                }
            }
            .header_bottom_row_btn {
                width: 31%;
                h3 {
                    font-size: 17px;
                }
                button {
                    font-size: 17px;
                }
            }
        }
    }
}
@media (max-width: 775px) {
    .header {
        .header_top_row {
            .header_top_row_logo {
                width: 30%;
            }
            .header_top_row_contacts {
                width: 70%;
            }
        }
        .header_bottom_row {
            .header_bottom_row_links {
                width: 55%;
            }
            .header_bottom_row_btn {
                width: 35%;
            }
        }
    }
}
@media (max-width: 740px) {
    .header {
        .header_top_row {
            flex-direction: column;
            .header_top_row_contacts {
                button {
                    display: block;
                }
            }
            .header_top_row_logo {
                width: 100%;
                justify-content: center;
            }
            .header_top_row_contacts {
                width: 100%;
            }
        }
        .header_bottom_row {
            .header_bottom_row_links {
                width: 55%;
            }
            .header_bottom_row_btn {
                width: 36%;
            }
        }
        .show {
            display: flex;
            opacity: 1;
            flex-direction: column-reverse;
            align-items: center;
            transition: transform 0.3s ease;
            .header_bottom_row_links {
                flex-direction: column;
                align-items: center;
            }
            .header_bottom_row_btn {
                padding: 20px 0 0 0;
            }
        }
    }
}
@media (max-width: 690px) {
    .header {
        .header_bottom_row {
            .header_bottom_row_links {
                width: 100%;
            }
            .header_bottom_row_btn {
                width: 41%;
            }
        }
    }
}
@media (max-width: 580px) {
    .header {
        .header_bottom_row {
            .header_bottom_row_btn {
                width: 47%;
            }
        }
    }
}
@media (max-width: 510px) {
    .header {
        .header_top_row {
            .header_top_row_contacts {
                .top_row_contacts_inp {
                    padding: 5px 5px 0 5px;
                    width: 25%;
                    input {
                        width: 100%;
                    }
                }
            }
        }
        .header_bottom_row {
            .header_bottom_row_btn {
                width: 56%;
            }
        }
    }
}
@media (max-width: 460px) {
    .header {
        .header_top_row {
            .header_top_row_contacts {
                flex-wrap: wrap;
                .top_row_contacts_inp {
                    width: 100%;
                    input {
                        width: 100%;
                    }
                }
                .top_row_contacts_mail {
                    padding: 20px 0 0 0;
                }
                .top_row_contacts_number {
                    padding: 20px 0 0 0;
                }
                button {
                    padding: 20px 0 0 0;
                }
            }
        }
        .header_bottom_row {
            .header_bottom_row_btn {
                width: 60%;
            }
        }
    }
}

@media (max-width: 395px) {
    .header {
        .header_bottom_row {
            .header_bottom_row_links {
                a {
                    font-size: 16px;
                }
            }
            .header_bottom_row_btn {
                width: 76%;
            }
        }
    }
}
