.hero {
    width: 100%;
    height: 100%;
    .hero_background {
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        width: 100%;
        overflow: hidden;
        Image {
            width: 70%;
            height: 100%;
            object-fit: cover;
        }
    }
    .hero_elements {
        display: flex;
        padding: 180px 0 90px;
        .hero_elements_left {
            z-index: 2;
            .elements_left_title {
                position: relative;
                max-width: 700px;
                h1 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 90px;
                    line-height: 105px;
                    color: #000000;
                }
                img {
                    position: absolute;
                    top: 80px;
                    width: 60%;
                    height: 50%;
                    z-index: -1;
                }
            }
            p {
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 33px;
                color: #000000;
                max-width: 520px;
            }
            .elements_left_btns {
                padding: 30px 0;
                button:nth-child(1) {
                    background: #ff3f3f;
                    border-radius: 5px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 23px;
                    padding: 13px 21px;
                    color: #ffffff;
                    margin-right: 10px;
                    transition: .3s;
                }
                button:nth-child(1):hover {
                    background: #d13333e1;
                    border: 1px solid #ff0000;
                }
                button:nth-child(2) {
                    background: #ffffff;
                    border: 1.6px solid #000000;
                    border-radius: 5px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 23px;
                    padding: 13px 21px;
                    color: #000000;
                    transition: .3s;
                }
                button:nth-child(2):hover {
                    background: #d13333e1;
                    border: 1px dashed #ff0000;
                    color: #ffffff;
                }
            }
            .elements_left_reviews {
                display: flex;
                align-items: center;
                h3 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 64px;
                    color: #000000;
                    margin-right: 20px;
                }
                .elements_left_reviews_rating {
                    p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        color: #000000;
                        mix-blend-mode: normal;
                        opacity: 0.5;
                    }
                    .left_reviews_rating_stars {
                        img {
                            margin: 7px 5px 0 0;
                        }
                    }
                }
            }
        }
        .hero_element_right {
            position: absolute;
            right: 0;
        }
    }
    .hero_bottom_card_position {
        z-index: 3;
        width: 100%;
        position: relative;
        .hero_bottom_card {
            box-shadow: 0px 20px 60px rgba(0, 54, 110, 0.057595);
            position: absolute;
            margin: 0 auto;
            bottom: -100px;
            left: 0;
            right: 0;
            display: flex;
            justify-content: space-between;
            background: #ffffff;
            border-radius: 10px;
            padding: 50px;
            .bottom_card_inormation {
                display: flex;
                align-items: center;
                img {
                    margin-right: 27px;
                }
                .bottom_card_inormation_desc {
                    h3 {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 18px;
                        letter-spacing: 0.9375px;
                        text-transform: uppercase;
                        color: #000000;
                        mix-blend-mode: normal;
                        opacity: 0.26;
                    }
                    p {
                        font-style: normal;
                        font-weight: 400;
                        max-width: 200px;
                        font-size: 24px;
                        line-height: 31px;
                        color: #000000;
                    }
                }
            }
        }
    }
}

@media (max-width: 1145px) {
    .hero {
        .hero_elements {
            .hero_element_right {
                opacity: 0.5;
            }
        }
    }
}

@media (max-width: 950px) {
    .hero {
        .hero_bottom_card_position {
            .hero_bottom_card {
                .bottom_card_inormation {
                    .bottom_card_inormation_desc {
                        h3 {
                            font-size: 13px;
                        }
                        p {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 760px) {
    .hero {
        .hero_elements {
            .hero_elements_left {
                .elements_left_title {
                    h1 {
                        font-size: 65px;
                    }
                    img {
                        width: 45%;
                    }
                }
            }
        }
        .hero_bottom_card_position {
            .hero_bottom_card {
                .bottom_card_inormation {
                    .bottom_card_inormation_desc {
                        h3 {
                            font-size: 11px;
                        }
                        p {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 682px) {
    .hero {
        .hero_elements {
            .hero_elements_left {
                .elements_left_title {
                    h1 {
                        font-size: 45px;
                        line-height: 80px;
                    }
                    img {
                        top: 0;
                        left: 320px;
                        width: 38%;
                    }
                }
            }
            .hero_element_right {
                opacity: 0.3;
            }
        }
    }
}
@media (max-width: 558px) {
    .hero {
        .hero_elements {
            .hero_elements_left {
                .elements_left_title {
                    img {
                        top: 80px;
                        left: 0px;
                        width: 45%;
                    }
                }
            }
        }
    }
}
@media (max-width: 494px) {
    .hero {
        .hero_elements {
            .hero_elements_left {
                .elements_left_title {
                    img {
                        top: 80px;
                        left: 0px;
                        width: 45%;
                        height: 35%;
                    }
                }
            }
        }
    }
}

@media (max-width: 468px) {
    .hero {
        .hero_elements {
            .hero_elements_left {
                .elements_left_title {
                    h1 {
                        font-size: 45px;
                    }
                    img {
                        top: 80px;
                        width: 60%;
                    }
                }
            }
            .hero_element_right {
                opacity: 0.2;
            }
        }
    }
}

@media (max-width: 380px) {
    .hero {
        .hero_elements {
            text-align: center;
            .hero_elements_left {
                .elements_left_title {
                    h1 {
                        font-size: 40px;
                    }
                    img {
                        top: 80px;
                        left: 30px;
                        width: 60%;
                    }
                }
                p {
                    font-size: 20px;
                }
                .elements_left_btns {
                    button {
                        span {
                            display: none;
                        }
                    }
                }
                .elements_left_reviews {
                    justify-content: center;
                }
            }
            .hero_element_right {
                opacity: 0.1;
            }
        }
    }
}

@media (max-width: 332px) {
    .hero {
        .hero_elements {
            .hero_elements_left {
                .elements_left_title {
                    h1 {
                        font-size: 38px;
                    }
                }
            }  
        }
        .hero_bottom_card_position {
                .hero_bottom_card {
                    padding: 40px;
                }
            }
    }
}