.MuiFormControl-root {
  margin: 8px 0;
}

.MuiInputBase-input {
width: 100%;
}

.MuiOutlinedInput-input {
  width: 100%;
  height: 15px;
}
.MuiInputBase-root {
  width: 100%;
}
.MuiBox-root {
  margin: -8px;
  padding: 0;
  width: 100%;
  height: 140px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.MuiButtonBase-root {
  background-color: #e5e5e5;
  height: 70px;
  border-bottom: 1.5px solid black ;
}
.MuiAccordionDetails-root {
  background-color: #e5e5e5;
  border-bottom: 2px solid black ;
}
